title = "به زودی"
url = "/coming-soon"
description = "صفحه به زودی"
is_hidden = 0
==
<!DOCTYPE html>



<html lang="en">



<head>



    <title>شتابدهنده اندیشه خوارزم</title>



    <meta charset="utf-8">



    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}">



    <link href="http://www.acckt.ir/themes/hellonesh/assets/css/app.css" rel="stylesheet">



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lalezar">



    <style>



        body {



            background: #280d3a;



            font-family: "Lalezar", sans-serif;



        }



        .centered {



          position: fixed;



          top: 50%;



          left: 50%;



          /* bring your own prefixes */



          transform: translate(-50%, -50%);



        }



        .coming-soon {



            color: white;



            font-size: 28px;



            text-align: center;



        }



</style>



</head>



<body>

<div class="container">



    <div class="row">

        

        <div class="col-12">

                <div class="text-center text-light mt-5" style="margin-top:20% !important;direction:rtl;">

                    <div class="mb-5">

                        <span class="">

                    به زودی در خدمت شما عزیزان خواهیم بود

                        </span>

                    </div>

                    <img src="https://acckt.ir/themes/acckt/assets/img/logo.png" style="height: 30px">

                    <div class="footer-info">ایمیل: acckt2020.co@gmail.com</div>

                    <div class="footer-info">آدرس: مشهد، سعدی ۱۴، پلاک ۱۵۳</div>

                    <div class="footer-info">شماره تماس: ۰۹۰۵۳۴۰۲۴۹۳</div>

                    <div class="footer-info">شبکه های اجتماعی</div>

                    <div class="footer-info">

                        <img src="https://acckt.ir/themes/acckt/assets/img/social/linkedin.png" width="40">

                        <img src="https://acckt.ir/themes/acckt/assets/img/social/twitter.png" width="40">

                        <img src="https://acckt.ir/themes/acckt/assets/img/social/aparat.png" width="40">

                        <img src="https://acckt.ir/themes/acckt/assets/img/social/telegram.png" width="40">

                        <img src="https://acckt.ir/themes/acckt/assets/img/social/instagram.png" width="40">

                    </div>

                </div>

         </div>



    </div>



</div>

</div>



<script sr