title = "سبد خرید"
url = "/portal/cart"
layout = "panel"
description = "سبد خرید"
is_hidden = 0

[session]
security = "user"
redirect = "signin"
==
<?php
use RahmanMahdi\Kharazm\Models\Cart;

function onStart(){
    $this['CartItems'] = Cart::orderBy('created_at', 'desc')->get();
}
?>
==
<!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1">سبد خرید</h5>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item"><a href="/portal"><i class="bx bx-home-alt"></i></a></li>
                                <li class="breadcrumb-item active"> سبد خرید</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- users list start -->
          <section class="users-list-wrapper">
              <div class="users-list-table">
                  <div class="card">
                      <div class="card-content">
                          <div class="card-body">
                              <!-- datatable start -->
                              <div class="table-responsive">
                                  <table id="users-list-datatable" class="table">
                                      <thead>
                                          <tr>
                                              <th>ردیف</th>
                                              <th>عنوان</th>
                                              <th>قیمت</th>
                                              <th>تعداد</th>
                                              <th>جمع</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      {% for cart_item in CartItems %}
                                          <tr>
                                              <td>{{ loop.index }}</td>
                                              <td>{{ cart_item.title }} </a></td>
                                              <td>{{ cart_item.price }}</td>
                                              <td>{{ cart_item.description }}</td>
                                              <td>{{ cart_item.start_date|pDate }}</td>
                                              <td>{{ cart_item.total_hours }}</td>
                                              <td>{{ cart_item.price }}</td>
                                              <td>
                                                  {% if cart_item.status == 0 %}
                                                  <span class="badge bg-rgba-danger text-danger">غیرفعال</span>
                                                  {% elseif cart_item.status == 1 %}
                                                  <span class="badge bg-rgba-success text-success">فعال (ثبت نام)</span>
                                                  {% elseif cart_item.status == 2 %}
                                                  <span class="badge bg-rgba-success text-success">در حال برگزاری</span>
                                                  {% elseif cart_item.status == 3 %}
                                                  <span class="badge bg-rgba-danger text-danger">مسدود شده</span>
                                                  {% endif %}
                                              </td>
                                              <td>
                                                  {% if cart_item.status == 1 %}
                                                  <a href="/portal/view_cart_item/{{ cart_item.id }}"><i class="bx bx-cart-alt"></i></a>
                                                  {% endif %}
                                              </td>
                                          </tr>
                                      {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                              <!-- datatable ends -->
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- users list ends -->
        </div>
      </div>
    </div>
    <!-- END: Content-->