@font-face {
	font-family: 'IranSansFaNum';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../fonts/IRANSansWebFaNum.eot');
	src: url('../../fonts/IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/IRANSansWebFaNum-1-2.woff2') format('woff2'),
		url('../../fonts/IRANSansWebFaNum.woff') format('woff'),
		url('../../fonts/IRANSansWebFaNum.ttf') format('truetype');
}

*
{
    font-family: 'IranSansFaNum';
    font-size: 14px;
}


main
{
    background-image: url('../images/pattern_world.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #00337d;
    min-height: 1000px;
    background-size: contain;
    padding-top: 100px;
}

/*
#rightOff video[poster]
{
    object-fit:fill;
    border-radius: 50%;
}
*/

#leftOff h2:first-child
{
    font-size: 50px;
    color:#fff;
    text-align: left;
    text-decoration: line-through;
    text-decoration-color:#fa1010;
    margin-bottom:15px;

}

#leftOff h2:nth-child(2)
{
    color:#fff;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
}

#example
{
    color:#ff6f00;
}

ul#example
{
    text-align: left;
}

#example li
{
    background-color:#fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    width:100px;
    text-align: center;
}

#example p
{
    padding: 0px;
    color:#ff6f00 !important;
    margin: 0px;
}

#arrow
{
    position: absolute;
    right: -126px;
    bottom: 30px;
}

#leftOff form
{
    margin-top: -25px;
}


#formBox
{
    padding: 0px;
}

#leftOff form button[type="submit"],#whiteBox form button[type="submit"]
{
    background-color:#ff6f00;
    color:#fff;
    border: none;
}

input[type="email"]
{
    font-size: 20px;
}


#rightOff h2
{
    text-align: center;
    font-size: 60px;
    color: #fff;
    line-height: 150px;
}

/*
#rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
{
    content: "\f101";
    font-size: 300px;
    top: 215px ;
    left: 300px;
    opacity: 0.5;
}

*/

#rightOff .vjs-big-play-button
{
    border:none;
    background: none;
}

#rightOff .vjs-poster
{
    background-color:transparent;
    background-image: none !important;
}

.borderBlue
{

    border-style: solid;
    border-width:0px 0px 210px 1500px;
    border-color: transparent transparent transparent #00337d;
}

#shoar
{
    margin-top: 50px;
    background-color: #fff;
    min-height: 200px;

}

#h2_shoar
{
    margin-bottom: -50px;
    text-align: center;
    transform: rotate(-8deg);
    position: relative;
    bottom: -80px;
    color:#fff;
}

#whiteBox
{
    margin-top:-75px;
    color: #00337d;
    text-align: justify;
}

#whiteBox h2:nth-child(1)
{
    color:#ff6f00;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
}

#whiteBox h1:nth-child(2)
{
    font-weight: bolder;
    font-size: 55px;
    margin: 70px 0px;
}

#whiteBox h2:nth-child(3)
{
    font-size: 40px;
    margin-bottom: 50px;
}

#whiteBox h3:nth-child(4)
{
    font-size: 100px;
    color: #ff6f00;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 46px;
}

#whiteBox h2:nth-child(5)
{
    font-size: 42px;
    text-align: center;
}

#whiteBox form
{
    margin-top: 50px;
}

.borderBlue1
{

    border-color:transparent  transparent #00337d transparent;
}

footer
{
    /*padding-bottom: 230px;*/
    text-align: center;
}




footer h2
{
    color:#fff;
    text-align: center;
}

 #videoFooter1
 {
     margin-top: 105px;
 }

 #videoFooter2
 {
     margin-top: 105px;
 }

footer video[poster]
{
    object-fit: fill;
}
footer video,footer video[poster]
{
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow:5px 5px 24px #000;
    height: 227px;
}

@media only screen and (max-width:320px)
{
    #leftOff
    {
        margin-top: 20px;
    }

    #my-video *, .video-js
    {
        width: 250px;
        height: 250px;
    }

    #leftOff h2:first-child
    {
        font-size: 40px;
    }

    #leftOff h2:nth-child(2)
    {
        text-align: center;
        font-size: 50px
    }

    #rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
    {
        left: 0px;
        font-size: 200px;
        top:100px;
    }

    #arrow
    {
        display: none;
    }

    ul#example li
    {
        width:50px;
    }
    ul#example li span
    {
        font-size: 30px;
        line-height: 30px;
    }

    ul#example li p
    {
        font-size: 15px;
    }

    #h2_shoar
    {
        margin-bottom: -20px;
        bottom: -30px;
        font-size: 14px;
    }

    #whiteBox h2:nth-child(1)
    {
        font-size: 22px;
    }

    #whiteBox h1:nth-child(2)
    {
        font-size: 30px;
        text-align: center;

    }

    #whiteBox h2:nth-child(3)
    {
        font-size: 17px;
        text-align: center;
    }

    #whiteBox h3:nth-child(4)
    {
        font-size: 45px;
    }

    #whiteBox h2:nth-child(5)
    {
        font-size:20px;
    }

    .borderBlue
    {
        border-width :0px 0px 110px 1500px;
    }

    #videoFooter1
    {
        margin-top:0px;
    }

    footer h2
    {
        font-size:15px;
    }
}

@media only screen and (max-width:539px) and (min-width:321px)
{
    #leftOff
    {
        margin-top: 20px;
    }

    #my-video *, .video-js
    {
        width: 300px;
        height: 300px;
    }

    #rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
    {
        font-size: 200px;
        top:120px;
        left:0px;
    }

    #arrow
    {
        display: none;
    }

    #my-video
    {
         left:-25px !important;
    }

    #example li
    {
        width:77px;
    }

    ul#example li span
    {
        font-size: 50px;
        line-height: 50px;
    }

    #h2_shoar
    {
        font-size: 20px;
        margin-bottom:-30px;
        bottom:-40px;
        font-size: 14px;
    }

    #whiteBox h2:nth-child(1)
    {
        font-size: 32px;
    }

    #whiteBox h1:nth-child(2)
    {
        font-size: 23px;
        margin-bottom: 40px;
    }

    #whiteBox h2:nth-child(3)
    {
        font-size: 25px;
    }

    #whiteBox h3:nth-child(4)
    {
        font-size: 60px;
    }

    #whiteBox h2:nth-child(5)
    {
        font-size: 22px;
    }

    #videoFooter1
    {
        margin-top:0px;

    }

    footer h2
    {
        font-size: 20px;
    }


}

@media only screen and (min-width:540px) and (max-width:719px)
{
    #my-video *, .video-js
    {
        width: 300px !important;
        height: 300px !important;

    }

    #my-video
    {
         left:-130px;
    }

    #rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
    {
        left:0px;
        top:120px;
        font-size: 200px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 720px)
{

    #leftOff h2:first-child
    {
        font-size: 40px;
    }

    #leftOff h2:nth-child(2)
    {
        font-size: 45px;
    }

    #my-video *,.video-js
    {
        width: 300px !important;
        height: 300px !important;
    }

    #example li
    {
        width:67px;
        padding:10px 5px;
        padding-bottom: 0px;
    }

    ul#example li span
    {
        line-height: 0.5;
    }

    ul#example li span
    {
        font-size: 45px !important;
    }

    ul#example li p
    {
        font-size: 20px;
    }

    #arrow
    {
        bottom:20px;
    }
    #leftOff form
    {
        margin: 0px;
    }

    #rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
    {
        left: -10px;
        top: 112px;
        font-size: 200px;
    }

    #h2_shoar
    {
        font-size: 20px;
        margin-bottom: 0px;
    }

    #whiteBox h2:nth-child(1)
    {
        font-size: 40px;
    }

    #whiteBox h1:nth-child(2)
    {
        font-size: 42px;
    }

    #whiteBox h2:nth-child(3)
    {
        font-size: 25px;
    }

    #whiteBox h3:nth-child(4)
    {
        font-size: 50px;
    }

    #whiteBox h2:nth-child(5)
    {
        font-size: 28px;
    }

    #videoFooter2,#videoFooter1
    {
        margin-top: 0px;
    }

    footer h2
    {
        font-size: 25px;
    }
}

@media only screen and (min-width:961px) and (max-width:1140px)
{
    #my-video *,.video-js
    {
        width: 400px !important;
        height: 400px !important;
    }

    #rightOff .video-js .vjs-big-play-button .vjs-icon-placeholder:before
    {
        top:170px;
        left: -13px;
    }

    #arrow
    {
        right:-115px;
        bottom: 30px;
    }

    #leftOff form
    {
        margin-top: 0px;
    }

    #example li
    {
        width:90px;
        padding:15px 5px;
        padding-bottom: 5px;
    }

    ul#example li span
    {
        line-height: 30px;
    }

    ul#example li span
    {
        font-size: 50px !important;
    }

    #h2_shoar
    {
        font-size: 25px;
        margin-bottom:-30px;
    }

    #whiteBox h1:nth-child(2)
    {
        font-size: 58px;
        margin: 30px 0px !important;
    }

    #whiteBox h2:nth-child(3)
    {
        font-size: 34px;
        margin: 30px 0px !important;
    }

    #whiteBox h2:nth-child(5)
    {
        font-size: 38px;
    }
}

@media only screen and (min-width:1141px)
{
    #my-video video
    {
        width: 500px !important;
        height: 500px !important;
    }

    ul#example li span
    {
        font-size: 50px !important;
        line-height: 50px;
    }
}
