==
<footer class="footer px-5">
    <div class="container footer-container">
        <div class="footer-col">
            <img src="{{ 'assets/img/logo.png'|theme }}" style="height: 30px" />
            <div class="footer-info">ایمیل: acckt2020.co@gmail.com</div>
            <div class="footer-info">آدرس: مشهد، سعدی 14، پلاک 153</div>
            <div class="footer-info">شماره تماس: 09053402493</div>
            <div class="footer-info">شبکه های اجتماعی</div>
            <div class="footer-info">
                <img src="{{ 'assets/img/social/linkedin.png'|theme }}" width="40" />
                <img src="{{ 'assets/img/social/twitter.png'|theme }}" width="40" />
                <img src="{{ 'assets/img/social/aparat.png'|theme }}" width="40" />
                <img src="{{ 'assets/img/social/telegram.png'|theme }}" width="40" />
                <img src="{{ 'assets/img/social/instagram.png'|theme }}" width="40" />
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-link"><a href="/value-adding-cycle">چرخه تولید ارزش</a></div>
            <div class="footer-link"><a href="/store">فروشگاه ایده</a></div>
        </div>
        <div class="footer-col">
            <div class="footer-link"><a href="/acceleration-network">شبکه شتابدهی</a></div>
       