==
<style>
.nav-item {
    margin: 0 0.5vw;
}
</style>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src='{{ 'assets/img/logo.png'|theme }}' height='36'>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    {% if user %}
                    <a href="/portal" class="btn btn-primary">{{ user.name }}</a>
                    {% else %}
                    <a href="/portal/login" class="btn btn-actions-header">ورود</a>
                    <a href="/signup" class="btn btn-actions-header">ثبت نام</a>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/startup">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/value-adding-cycle">چرخه تولید ارزش</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/acceleration-network">شبکه شتابدهی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/online-acceleration">شتابدهی آنلاین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">فروشگاه ایده</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">وبلاگ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">تماس با ما</a>
                    </li>
                </ul>
                        

            </div>
        </div>
    </nav>

</header>