<h3 class="comments-title">2 نظر:</h3>

<ol class="comment-list">
    <li class="comment">
        <article class="comment-body">
            <footer class="comment-meta">
                <div class="comment-author vcard">
                    <img src="{{ 'assets/img/client-image/1.jpg'|theme }}" class="avatar" alt="image">
                    <b class="fn">جان جونز</b>
                    <span class="says">می گوید:</span>
                </div>

                <div class="comment-metadata">
                    <a href="#">
                        <time>24 دی 1398 در ساعت 10:59 صبح</time>
                    </a>
                </div>
            </footer>

            <div class="comment-content">
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
            </div>

            <div class="reply">
                <a href="#" class="comment-reply-link">پاسخ دادن</a>
            </div>
        </article>

        <ol class="children">
            <li class="comment">
                <article class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img src="{{ 'assets/img/client-image/2.jpg'|theme }}" class="avatar" alt="image">
                            <b class="fn">جان جونز</b>
                            <span class="says">می گوید:</span>
                        </div>

                        <div class="comment-metadata">
                            <a href="#">
                                <time>24 دی 1398 در ساعت 10:59 صبح</time>
                            </a>
                        </div>
                    </footer>

                    <div class="comment-content">
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>

                    <div class="reply">
                        <a href="#" class="comment-reply-link">پاسخ دادن</a>
                    </div>
                </article>
            </li>

            <ol class="children">
                <li class="comment">
                    <article class="comment-body">
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <img src="{{ 'assets/img/client-image/3.jpg'|theme }}" class="avatar" alt="image">
                                <b class="fn">جان جونز</b>
                                <span class="says">می گوید:</span>
                            </div>

                            <div class="comment-metadata">
                                <a href="#">
                                    <time>24 دی 1398 در ساعت 10:59 صبح</time>
                                </a>
                            </div>
                        </footer>

                        <div class="comment-content">
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>

                        <div class="reply">
                            <a href="#" class="comment-reply-link">پاسخ دادن</a>
                        </div>
                    </article>
                </li>
            </ol>
        </ol>
    </li>

    <li class="comment">
        <article class="comment-body">
            <footer class="comment-meta">
                <div class="comment-author vcard">
                    <img src="{{ 'assets/img/client-image/4.jpg'|theme }}" class="avatar" alt="image">
                    <b class="fn">جان جونز</b>
                    <span class="says">می گوید:</span>
                </div>

                <div class="comment-metadata">
                    <a href="#">
                        <time>24 دی 1398 در ساعت 10:59 صبح</time>
                    </a>
                </div>
            </footer>

            <div class="comment-content">
                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
            </div>

            <div class="reply">
                <a href="#" class="comment-reply-link">پاسخ دادن</a>
            </div>
        </article>

        <ol class="children">
            <li class="comment">
                <article class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img src="{{ 'assets/img/client-image/5.jpg'|theme }}" class="avatar" alt="image">
                            <b class="fn">جان جونز</b>
                            <span class="says">می گوید:</span>
                        </div>

                        <div class="comment-metadata">
                            <a href="#">
                                <time>24 دی 1398 در ساعت 10:59 صبح</time>
                            </a>
                        </div>
                    </footer>

                    <div class="comment-content">
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>

                    <div class="reply">
                        <a href="#" class="comment-reply-link">پاسخ دادن</a>
                    </div>
                </article>
            </li>
        </ol>
    </li>
</ol>