@font-face {
	font-family: 'IranSansFaNum';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/IRANSansWebFaNum.eot');
	src: url('../fonts/IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IRANSansWebFaNum-1-2.woff2') format('woff2'),
		url('../fonts/IRANSansWebFaNum.woff') format('woff'),
		url('../fonts/IRANSansWebFaNum.ttf') format('truetype');
}

*
{
    font-family: 'IranSansFaNum';
    font-size: 14px;
}

a
{
    color:#004dbe;
    transition: 0.5s;
}

a:hover
{
    color:#00b88b;
    text-decoration: none;
}

body
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 1000px;
}

#navbartop
{
    background-color:rgba(0,67,164,1);
}

#navbartop .navbar-nav
{
    margin-right: 20px !important;
}

#navbartop .nav-link
{
    color: #ffff !important;
    font-weight: 500;
}

#navbartop #btnRegister
{
    background-color: #00B88B;
    border: none;
}
#navbartop svg
{
    font-size: 28px;
    margin-left: 50px;
    color: #ffff;
}
#navbartop .dropdown-item
{
    margin: 15px 0px;
}

#navbartop .dropdown-menu
{
    border-radius: 20px;
}

#slider
{
    background-color: transparent;
    height: 500px;
}

video[poster]
{
    object-fit:fill;
}

#videosHome
{
    text-align: center;
    margin-bottom: 100px;
}

#videosHome > div.row
{
    border-radius: 50px;
    background-color: #ffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
    padding: 20px 0px;
}

#videosHome video
{
    border-radius: 20px;
}

#videosHome #moreVideosHome
{
    text-align: left;
    margin: 10px 0px;
}

#videosHome #moreVideosHome a
{
    margin-top: 10px;
    font-weight: bolder;

}


#garanties .media
{
    border-radius: 20px;
    border: 1px solid;
    padding: 30px 20px;
    margin-bottom: 10px;
    transition: 0.5s;
    box-sizing: border-box;
}

#garanties .media:hover
{
    border: 3px solid #FF6F00;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

#garanties .media h5
{
    font-size: 20px;
    font-weight: bold;
    color: #00337D;
}

#garanties .media p
{
    font-size: 15px;
    margin: 0px;
    margin-top: 20px;
    color: #808285;
}

#services h3
{
    display: inline;
    font-weight: bold;
    color: #00337D;
}

#services svg
{
    font-size: 20px;
    font-weight: bold;

}

#services div[role="tablist"]
{
    border: 1px solid;
    border-radius: 20px;
    padding: 2px 0px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#services .nav-tabs .nav-link
{
    color: #808285;
}
#services .nav-tabs .nav-link.active
{
    color: #FF6F00;
    background-color: transparent;
    border:none;
}

#services .nav-tabs .nav-link:hover,#services .nav-tabs .nav-link:focus
{
    border: none;
}

#services .tab-content *
{
    text-align: justify;
    font-size: 15px;
}

#garantiesServices
{
    margin-bottom: 50px;
}

#coachsHome
{
    background-color:#004DBE;
    min-height: 400px;
    background-image: url('../images/Back-HighLight.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#coachsHome > div:first-child
{
    text-align: center;
    padding: 80px 90px 0px 0px;
    color: #fff;
}

#coachsHome > div:first-child h2,#coachsHome > div:first-child p
{
    margin-bottom: 40px;
}

#coachsHome > div:first-child a.btn
{
    border-radius: 20px;
}

#listCoachsHome
{
    padding-top: 20px;
    color: #ffff;
}

#listCoachsHome  .items-coachs ,.listCoachsPage .items-coachs
{
    background-image: url('../images/BBack.jpg');
    background-repeat: no-repeat;
    height: 280px;
    border-radius: 20px;
    background-position: center;
    text-align: center;
}

#listCoachsHome  .items-coachs a,.listCoachsPage .items-coachs a
{
    display: inline-block;
}

#listCoachsHome  .items-coachs img,.listCoachsPage .items-coachs img
{
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
}

#listCoachsHome  .items-coachs h2,.listCoachsPage .items-coachs h2
{
    font-size: 18px;
    font-weight: bold;
}

#listCoachsHome .profileCoach,.listCoachsPage .profileCoach
{
    background-color:#FF6F00;
    font-size: 14px;
    color: #fff;
    border: none;
    width:70% ;
    border-radius: 30px;
}

#listCoachsHome .reserveCoach,.listCoachsPage .reserveCoach
{
    border: 1px solid;
    border-radius: 30px;
    font-size: 14px;
    color: #ffff;
    width: 70%;
    margin-top: 5px;
}

#commentsHome
{
    background-image: url('../images/Pattern-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 640px;
    margin: 100px 0px;

}

#commentsHome > .container
{
    background-color: rgba(0, 0, 0, 0.12);
    min-height: 640px;
    border-radius: 20px;
    padding:20px
}

#commentsHome > .container > .row >  div:first-child
{
    padding-top: 200px;
    justify-content:center;
    text-align: justify;
}

#commentsHome > .container > .row > div:first-child h2
{
    font-size: 30px;
}

#commentsHome  .itemComments
{
    text-align: center;
}
#commentsHome  .itemComments img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block !important;
}

#commentsHome .itemComments:nth-child(2)
{
    text-align: center;
}

#commentsHome .itemComments  svg
{
    margin: 20px 0px;
    font-size: 50px;
    color: #808285;
}

#commentsHome .itemComments  p:nth-child(3)
{
    background-color: #00337D;
    width: 60%;
    padding:20px;
    border-radius: 20px;
    color: #fff;
    margin: auto;
}

#commentsHome .itemComments h5:nth-child(4),#commentsHome .itemComments p:nth-child(5)
{
    color: #000000;
    font-weight: 700;
    margin: 20px 0px;
}

#commentsHome .slick-dots button::before
{

    color: #3a3a3a;
    border-radius: 50%;
    font-size: 12px;
}

#commentsHome .slick-dots li.slick-active button::before
{
    color: #00A887;
}

#eventsHome
{
    color: #3a3a3a;
    font-size: 14px;
}

#eventsHome > div:nth-child(1),#articleHome > div:nth-child(1),#productsHome > div:nth-child(1)
{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#eventsHome > div:nth-child(1) *,#articleHome > div:nth-child(1) *,#productsHome > div:nth-child(1) *
{
    display: inline;
    font-weight: bold;
}

#eventsHome > div:nth-child(1) svg,#articleHome > div:nth-child(1) svg,#productsHome > div:nth-child(1) svg
{
    font-size: 30px;
    margin-left: 10px;
}

#eventsHome > div:nth-child(1)  h3,#articleHome > div:nth-child(1)  h3,#productsHome > div:nth-child(1)  h3
{
    color: #00337D;
}

#eventsHome > div:nth-child(1) a,#articleHome > div:nth-child(1) a,#productsHome > div:nth-child(1) a
{
    color: #7A7A7A;
    float: left;
}

#eventsHome > div img
{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    border-radius: 20px;
    margin-bottom: 20px;
}


#eventsHome > div:nth-child(2) a
{
    font-size: 18px;
    font-weight: bold;
}

#eventsHome #titrEventHome
{
    border-bottom: 1px dashed  ;
    padding-bottom: 10px;
}

#eventsHome #detailsEventHome
{
    padding:10px 0px;
    color: #808285;
}

#eventsHome #detailsEventHome *
{
    display: inline-block;
}

#eventsHome #detailsEventHome p:nth-child(2)
{
    float: left;
}

#eventsHome #detailsEventHome + div a
{
    background-color: #00337D;
    border:none;
    width: 100%;
    border-radius: 50px;
}

.articleHome .media h5
{
    font-weight: bold;
}

.articleHome .media p
{
    text-align: justify;
}

.articleHome .media img
{
    width: 135px;
    height: 135px;
    border-radius: 20px;
}

#achievementHome
{
    margin-top: 100px;
    background-color: #004DBE;
    min-height: 300px;
}

#achievementHome .achievement
{
    padding-top: 100px;
}

#titrAchievementHome
{
    color: #fff;
    padding-top: 120px;
}


#titrAchievementHome p
{
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}
#titrAchievementHome svg
{
    font-size: 50px;
    color: #00A887;
}
#titrAchievementHome h5
{
    display: inline;
    font-size: 30px;
}

#productsHome
{
    margin-top: 100px;
    margin-bottom: 100px;
}

#productsHome .clsproductsHome > div
{
    margin-bottom: 10px;
}

#productsHome .clsproductsHome img
{
    border-radius: 20px;
}

#productsHome .clsproductsHome p:nth-child(2)
{
    color: #808285;
    margin-top: 15px;
}
#productsHome .clsproductsHome h2
{
    font-size: 17px;
    font-weight: bold;
}

#productsHome .clsproductsHome .offProduct,.productBlogclass .offProduct
{
    text-decoration: line-through;
    color: #808285;
    font-size: 20px;
    display: inline;
}

#productsHome .clsproductsHome .fiProduct,.productBlogclass .fiProduct
{
    color:#FF6F00 ;
    font-weight: bold;
    font-size: 20px;
    display: inline;
    float: left;
}

#productsHome .clsproductsHome a[role='button'],.productBlogclass a[role='button']
{
    background-color: #FF6F00;
    border-radius: 50px;
    color: #fff;
    transition: 0.5s;
}

#productsHome .clsproductsHome a[role='button']:hover
{
    color: #004DBE;
}



#customers,#Partners
{
    text-align: center;
    margin-bottom: 100px;
}

#customers h5,#Partners h5
{
    font-weight: bold;
    color: #00337D;
    display: inline;
}

#customers > div:first-child,#Partners > div:first-child
{
    margin-bottom: 30px;
}

#customers p,#Partners p
{
    display: inline;
}

.customersItem img,.customersItem img
{
    filter:grayscale(100%);
    cursor: pointer;
    transition: 0.5s;;
}

.customersItem img:hover
{
    filter:grayscale(0%);
}



footer a
{
    color:#ffff;
}

footer #logoFooter
{
    padding-top: 100px;
    height: auto;
    margin-bottom: 20px;
}

footer .titleFooter
{
    color: #00A887;
    margin-bottom: 10px;
}

footer .linefooter
{
    border-bottom: 1px solid #ffff;
    height: 1px;
    margin-bottom: 10px;
}

footer .titleFooter h2
{
    font-weight: 700;
}


footer .contentFooter
{
    color: #ffff;
    text-align: justify;
}

footer ul
{
    list-style-type: none;
}

footer li
{
    margin: 15px 0px;
}
footer li a,footer li svg
{
    font-size: 17px;
    margin-left: 10px;
}

#newsHome input[type="email"]
{
    border-radius: 50px;
    margin-top: 50px;
    padding:20px;
    font-size: 14px;
}

#newsHome form button
{
    background-color: #00A887;
    border: none;
    border-radius: 50px;
    padding:10px 0px;
    font-weight: 700;
}

div#form_signup_crm
{
    margin-top: 700px;
}

@media only screen and (max-width:576px)
{
    #coachsHome > div:first-child
    {
        padding:80px 10px 0px 10px;
    }
    #commentsHome > .container > .row > div:first-child
    {
        padding-top: 10px;
    }

    #commentsHome .itemComments p:nth-child(3)
    {
        width: auto;
    }
    #articleHome
    {
        margin-top: 20px;
    }

    #eventsHome > div:nth-child(1) h3,#articleHome > div:nth-child(1) h3
    {
        font-size: 18px;
    }

    #achievementHome .achievement
    {
        padding-top: 20px;
    }

    footer
    {
        background-position: right;
    }
    footer #logoFooter
    {
        padding-top: 30px;
    }
}

@media only screen and (min-width:577px) and (max-width: 768px)
{
    #coachsHome > div:first-child
    {
        padding: 30px 10px 0px 0px;
    }


    #commentsHome .itemComments p:nth-child(3)
    {
        width: auto;
    }

    #productsHome .clsproductsHome a[role='button'] h5
    {
        font-size: 14px;
    }

    footer #logoFooter
    {
        padding-top: 125px;
    }
}

@media only screen and (min-width:769px) and (max-width: 992px)
{
    #coachsHome > div:first-child
    {
        padding:30px 30px 0px 0px;
    }

    footer #logoFooter
    {
        padding-top: 130px;
    }

    footer ul
    {
        padding-right: 0px;
    }
}

@media only screen and (min-width:993px) and (max-width: 1200px)
{

}


/*            single PAGE                     */

#carouselBlogs
{
    margin: 50px 0px;
}

#carouselBlogs img
{
    height: 240px;
    border-radius: 20px;
}

#contentBlog
{
    background-color:#ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.14);
    border-radius: 20px;
    min-height: 500px;
    padding-bottom: 20px;
}

#contentBlog h1
{
    font-size: 30px;
    font-weight: bold;
    color: #00337d;
    margin-bottom: 30px;
}

#contentBlog h2
{
    color: #00a887;
    line-height: 2;
    font-weight: bold;
}

#contentBlog p,#contentBlog ul,#contentBlog li,#contentBlog a
{
    color: #7a7a7a;
    font-size: 18px;
    text-align: justify;
    line-height: 2;
}

#contentBlog iframe
{
    border: none;
    border-radius: 20px;
}

#contentBlog a
{
    color: #004dbe;
}

#contentBlog .accordion *
{
    border: none;
}

#contentBlog #accordionM > div.card > div:nth-child(2) *
{
    font-size: 13px;
}


#contentBlog .accordion .card-header
{
    border-radius: 20px;
    margin: 2px 0px;
}

#contentBlog .accordion .card-header button
{
    text-decoration: none;
    font-size: 18px;
    color: #00337d;
    font-weight: bold;
}

/*
#contentBlog .accordion .statusaccordion
{
    display: inline;
}*/

#contentBlog img,#contentBlog video
{
    border-radius: 20px;
}

.breadcrumb
{
    background: transparent;
}

nav[aria-label='breadcrumb']
{
    margin-top: 20px;
}

#productBlog
{
    background-color:#ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.14);
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 50px;
    color: #7a7a7a;
}

#productBlog > div.container > div:first-child
{
    padding: 20px 0px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
#productBlog > div.container > div:first-child *
{

    display: inline;
    font-size: 20px;
    font-weight: bold;
}

#productBlog > div.container > div:first-child h2
{
    color: #00337d;
}
#productBlog > div.container > div:first-child a
{
    float: left;
}

.productBlogclass
{
    border-radius: 20px;
}

.productBlogclass img
{
    border-radius: 20px 20px 0px 0px;
}

@media only screen and (max-width:576px)
{
    #productBlog > div.container > div:first-child *
    {
        font-size: 13px;
    }

    #contentBlog p, #contentBlog ul, #contentBlog li, #contentBlog a
    {
        font-size: 14px;
    }

    #contentBlog h2,#contentBlog .accordion .card-header button
    {
        font-size: 16px;
    }


}

@media only screen and (min-width:577px) and (max-width: 768px)
{
    #productBlog > div.container > div:first-child *
    {
        font-size: 13px;
    }

    #contentBlog p, #contentBlog ul, #contentBlog li, #contentBlog a
    {
        font-size: 14px;
    }

    #contentBlog h2,#contentBlog .accordion .card-header button
    {
        font-size: 16px;
    }
}

/*       COACHES PAGE     */

.listCoachsPage .items-coachs
{
    background-size: cover;
    min-height: 340px !important;
    margin-bottom: 10px;
}

.listCoachsPage .items-coachs h2
{
    color: #ffffff !important;
}
.listCoachsPage .profileCoach
{
    width: 90%;
    text-align: center !important;
    color: #ffffff !important;
}

.listCoachsPage .items-coachs img
{
    border-radius: 50% !important;
}

.listCoachsPage .reserveCoach
{
    font-size: 14px !important;
    color: #ffffff !important;
    width: 90%;
    text-align: center !important;
}

/* ********* INfo Coach page ************* 8*/

#infoCoach
{
    margin-top: 30px;
    background-image: linear-gradient(180deg,#fff 50%,#e8e8e8 100%);
}

#infoCoach > article:nth-child(2),#infoCoach > section:nth-child(3)
{
    padding-top: 20px;
    border-left: 1px solid;
}

#infoCoach img
{
    border-radius: 50%;
    border: 5px solid;
    margin-right: 50px;
}

#infoCoach h2
{
    color: #00337d;
}

#infoCoach .greenColor
{
    color: #00b88b;

}

#infoCoach .greenColor span
{
    color: initial;
}

#infoCoach > section:nth-child(4)
{
    padding-top: 50px;
}

@media only screen and (max-width:576px)
{
    #infoCoach img
    {
        margin-right: 25px;
    }

    #infoCoach > section:nth-child(4)
    {
        padding-bottom: 50px;
    }
}

/*                     Blog Page            */

#blogs > div.row >div
{
    margin-bottom: 10px;
}
#blogs h5
{
    font-size: 18px;
    font-weight: bold;
    color: #00337d;
}

#blogs p
{
    font-size: 14px;
}

#blogs .card
{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.14);
}

#blogs .card img
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*              EVENTS PAGE                      */
#eventsPage .importo
{
    font-size: 15px !important;
}

#eventsPage #timeline .timeline-badge.timeline-future-movement p
{
    left:18px !important;
}








#coach_profile_details.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#coach_profile_details .card .card-heading {
    padding: 0 20px;
    margin: 0;
}

#coach_profile_details .card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

#coach_profile_details .card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#coach_profile_details .card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

#coach_profile_details .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

#coach_profile_details .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

#coach_profile_details .card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

#coach_profile_details .card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

#coach_profile_details .card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

#coach_profile_details .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

#coach_profile_details .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

#coach_profile_details .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

#coach_profile_details .card .card-comments .comments-collapse-toggle a,
#coach_profile_details .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#coach_profile_details .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

#coach_profile_details .card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

#coach_profile_details .card.people:first-child {
    margin-left: 0;
}

#coach_profile_details .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

#coach_profile_details .card.people .card-top.green {
    background-color: #53a93f;
}

#coach_profile_details .card.people .card-top.blue {
    background-color: #427fed;
}

#coach_profile_details .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#coach_profile_details .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

#coach_profile_details .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

#coach_profile_details .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#coach_profile_details .card.hovercard,#coach_profile_details {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226,1);
}

#coach_profile_details .card.hovercard .cardheader {
    height: 70px;
}

#coach_profile_details .card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

#coach_profile_details .card.hovercard .avatar img {
    width: 200px;
    height: 200px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

#coach_profile_details .card.hovercard .info {
    padding: 4px 8px 10px;
}

#coach_profile_details .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

#coach_profile_details .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    color: #737373;
    text-overflow: ellipsis;
}

#coach_profile_details .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

#coach_profile_details .social{
    width:32px;
    height:32px;
    line-height:22px;
}

#coach_profile_details .title a
{
    font-size: 20px;
}

#coach_profile_details
{
    border-radius: 0.25rem;
}

#blog_home h5
{
    font-size: 14px;
    font-weight: bold;
}

#blog_home h1
{
    font-size: 24px;
}

#blog_home h2
{
    font-size: 18px;
}

#blog_home .card-footer *
{
    font-size:12px;
}



#show_comments_blog .widget
{
    width: 100%;
}
#show_comments_blog .widget .panel-body { padding:0px; }
#show_comments_blog .widget .list-group { margin-bottom: 0; }
#show_comments_blog .widget .panel-title { display:inline }
#show_comments_blog .widget .label-info { float: right; }
#show_comments_blog .widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
#show_comments_blog .widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
#show_comments_blog .widget .mic-info { color: #666666;font-size: 11px; }
#show_comments_blog .widget .action { margin-top:5px; }
#show_comments_blog .widget .comment-text { font-size: 12px; }
#show_comments_blog .widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
#show_comments_blog .widget .list-group-item > .row > div:nth-child(2){padding-right:45px;}
#show_comments_blog img
{
    width:50px;
    border-radius: 50%;
    border:2px solid #0e84b5;
}







@media only screen and (max-width:576px)
{
    #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li.img-wraping a img,#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li.img-wraping a img {
        height: 80px !important;
    }

    #timeline .timeline-badge.timeline-future-movement {
        width: 80px;
        height: 80px;
        top: -90px !important;
        margin-left: -40px !important;
    }

    #eventsPage #timeline .timeline-badge.timeline-future-movement p
    {
        top: 28px;
        left: 8px!important;
    }
}

@media only screen and (min-width:577px) and (max-width: 768px)
{
    #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li.img-wraping a img, #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li.img-wraping a img
    {
        height: 80px;
    }
}





