@font-face {
    font-family: 'IranSansFaNum';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../../../fonts/IRANSansWebFaNum.eot');
    src: url('../../../fonts/IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/IRANSansWebFaNum-1-2.woff2') format('woff2'),
    url('../../../fonts/IRANSansWebFaNum.woff') format('woff'),
    url('../../../fonts/IRANSansWebFaNum.ttf') format('truetype');
}

*
{
    font-family: 'IranSansFaNum';

}

.success_bg_admin
{
    background-color: #99ff99;
}

.warning_bg_admin
{
    background-color:  #ffff99;
}

.danger_bg_admin
{
    background-color: #ff8080;
}

.primary_bg_admin
{
    background-color: #b3c6ff;
}


.sidebar .logo
{
    background-color: #ddd;
}

#frmSearchUserAdmin button
{
    margin:0px;
}

#frmSearchUserAdmin tr a
{
    color: #000;
}

.sidebar .logo
{
    background-color: rgba(0,67,164,1);
}
