//---------------------------------------------
//
//  Fonts
//
//    1. Loading Mixins
//    2. Loading Fonts
//
//---------------------------------------------

//---------------------------------------------
// 1. Loading Mixins
//---------------------------------------------

@import "mixins/google-fonts";

//---------------------------------------------
// 2. Loading Fonts
//---------------------------------------------

@include googleFont((
  "name": "YekanBakh",
  "folder": "YekanBakh",
  "files": "YekanBakh",
  "weights": (300, 400, 600, 700)
));

@font-face {
  font-family: 'iconsax';
  src:  url('../../fonts/Iconsax/iconsax.eot');
  src:  url('../../fonts/Iconsax/iconsax.eot') format('embedded-opentype'),
    url('../../fonts/Iconsax/iconsax.ttf') format('truetype'),
    url('../../fonts/Iconsax/iconsax.woff') format('woff'),
    url('../../fonts/Iconsax/iconsax.woff2') format('woff2'),
    url('../../fonts/Iconsax/iconsax.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}