.card-body
{
    padding: 1rem;
}

.card-header
{
    padding:0.75rem 1.25rem;
}

.author p
{
    line-height: 0.5;
}

.bg-secondary-light
{
    background-color: #f0f0f5;
}

.card-header
{
    padding: 0.5rem 1.25rem;
}

.btn
{
    padding: .25rem 0.75rem;
}

option
{
    font-size:12px;
}



.listFriends .card.people .card-top.green {
    background-color: #53a93f;
}

.listFriends .card.people .card-top.blue {
    background-color: #427fed;
}

.listFriends .card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.listFriends .card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.listFriends .card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.listFriends .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.listFriends .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.listFriends .card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.listFriends .card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.listFriends div.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.listFriends .card.hovercard .info {
    padding: 4px 8px 10px;
}

.listFriends .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.listFriends .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.listFriends .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.listFriends .btn{
    border-radius: 50%;
    width:32px;
    height:32px;
    line-height:24px;
}

table.table td
{
    padding: 0px;
}



.card-user form .form-group {
    margin-bottom: 20px; }

.card-user .image
{
    height: 70px;
}

.card-user .image img
{
    border-radius: 12px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px; }
.card-user .author a + p.description {
    margin-top: -7px; }

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 1px solid #FFFFFF;
    position: relative;
    border-radius: 50%;
}

.card-user .card-body {
    min-height: 240px; }

.card-user hr {
    margin: 5px 15px 15px; }

.card-user .card-body + .card-footer {
    padding-top: 0; }

.card-user .card-footer h5 {
    font-size: 1.25em;
    margin-bottom: 0; }

.card-user .button-container {
    margin-bottom: 6px;
    text-align: center; }


